*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
  
}
body{
    overflow: hidden;
}
nav{

    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    top: 0;
    flex-wrap: wrap;
    position: fixed;
    box-shadow: 0px 0px 10px #888888;
    /* display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 10px #888888; */
}
.logo img{
    width: 100px;
}
.user-input{
    padding: 20px 40px;
}
.input{
    border: none;
    outline: none;
    border: 1px solid rgba(146, 149, 153, 0.2);
    width: 300px;
    height: 35px;
    border-radius: 10px;
    -webkit-padding-start: 20px;
}
button{
    background-color: #A9CD45;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
}
form{
    margin-top: 150px;
}

h1{
    color: #3D4296;
}
h4{
  text-align: center;

}
fieldset{
    width: 50%;
    /* display: block; */
    align-items: center;
    flex-wrap: wrap;
    
    margin: auto auto;
    background-color: #EBEAE8;
}
.href{
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
}
.forgotten{
    display: flex;
    justify-content: space-between;
}
label{
    margin: 10px;
}